/* 
    Document   : MyStyle
    Created on : Sep 3, 2011, 1:24:21 PM
    Author     : admin
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.styleText {
    -fx-font: bold 18pt "Times New Roman";
    -fx-vertical-align: middle;
}

.styleText1{
    -fx-font: bold 24pt "Times New Roman";
    -fx-vertical-align: middle;
}

.styleText2{
    -fx-font: 20pt "Verdana";
    -fx-vertical-align: middle;
}

.button {
    -fx-font: 18pt "Times New Roman";
    -fx-background-radius: 7;
    -fx-border-radius: 7;
    -fx-background-color: linear (0%,0%) to (0%,100%)
        stops (0%, #808080) (100%, #A9A9A9);
    -fx-border-color: #A9A9A9;
    -fx-border-width: 2;
}

.button:hover{
    -fx-background-color: linear (0%,0%) to (0%,100%)
        stops (0%, #A9A9A9) (100%, #808080);
}